__pycache__
.idea
.ipynb_checkpoints
/pobrane
/content

# annotations
/videos
/frame
/annotations
/segmentation_masks
/media/madziegielewska/Seagate Expansion Drive/MAGISTERKA/diploma-project/VoTT
/media/madziegielewska/Seagate Expansion Drive/MAGISTERKA/diploma-project/VoTT-label-export

# Semantic Segmentation
/Semantic-Segmentation/frames_to_test_segmentation
/Semantic-Segmentation/segmentation_test_results
/Semantic-Segmentation/train_test_data
/Semantic-Segmentation/video_results
/Semantic-Segmentation/models
/Semantic-Segmentation/test_results
/Semantic-Segmentation/psp_semantic_segmentation_resnet34.ipynb
/Semantic-Segmentation/opyf


# Event Boundary Detection
/Event-Boundary-Detection/graphs
/Event-Boundary-Detection/graphs_diffweights
/Event-Boundary-Detection/data_to_test.csv
/Event-Boundary-Detection/test_data_diff.csv
/Event-Boundary-Detection/test_data.csv
/Event-Boundary-Detection/transnet_results
/Event-Boundary-Detection/test_data_transnet.csv
/Event-Boundary-Detection/test_data_transnet1.csv
/preprocessed_transitions
/Event-Boundary-Detection/transnet1_results
/TransNet
/TransNetV2

# Optical Flow
/Optical Flow
/video-scene-detection

/preprocessed_dataset
/preprocessed_train
/preprocessed_test
/test_npy
/logs
mp4_test_files.txt
preprocessed_transitions.txt
preprocessed_validation.txt
mp4_train_files.txt
mp4_files.txt
transnet_preprocess.ipynb
preprocessed_train.txt
preprocessed_test.txt
train_test.ipynb
transnet_preprocess.json
/data

preprocessed_dataset.txt
Demo-App/static/uploads