albumentations==1.3.1
ffmpeg==4.2.2
Flask==2.3.2
ipykernel==6.19.2
keras==2.12.0
matplotlib==3.7.1
moviepy==1.0.3
natsort==7.1.1
numpy==1.22.3
opencv==4.6.0
opyf==1.5.0
pandas==2.0.3
scenedetect==0.6.1
scikit-image==0.19.2
scikit-learn==1.2.0
scipy==1.11.1
seaborn-image==0.7.0
segmentation-models==1.0.1
tensorflow==2.12.0
torch==2.0.1
tqdm==4.65.0
Werkzeug==2.0.1
vidstab==1.7.4